{% extends "layout.html" %}

{% block main %}
<div>
  <button id="start">Begin Exam</button>
</div>
  <h1><span id="question"></span></h1>
</div>
<div id="pclockdiv">
  <div>
    <span class="phours"></span>
    <div class="smalltext">Hours</div>
  </div>
  <div>
    <span class="pminutes"></span>
    <div class="smalltext">Minutes</div>
  </div>
  <div>
    <span class="pseconds"></span>
    <div class="smalltext">Seconds</div>
  </div>
</div>
<br>
<div class="progress-bar" id="question-bar" style="--width: 100"></div>
<br>
<h2>Overall Exam Clock</h2>
<div id="oclockdiv">
  <div>
    <span class="ohours"></span>
    <div class="smalltext">Hours</div>
  </div>
  <div>
    <span class="ominutes"></span>
    <div class="smalltext">Minutes</div>
  </div>
  <div>
    <span class="oseconds"></span>
    <div class="smalltext">Seconds</div>
  </div>
</div> <br>
<br>
<div class="progress-bar" id="overall-bar" style="--width: 100"></div>
<div>
<div id="length" class="hidden">{{ length }}</div>
<div id="mc_count" class="hidden">{{ mc_count }}</div>
<script src="/static/regulartimer.js"></script>
{% endblock %}
